
<!-- Signup Start -->

<section id="{{ page.section-type }}" class="container content-section text-center">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
<h3>Sign up for game release notification</h3>

<script type="text/javascript">var submitted=false;</script>
<iframe name="hidden_iframe" id="hidden_iframe"
style="display:none;" onload="if(submitted)
{window.location='http://localhost:4000/devRBORsite/thanks.html';}"></iframe>
<form action="https://docs.google.com/forms/d/e/1FAIpQLScXGLCeJWBiDR6RmyveobJgxbL4S3lxxKy3X2di9gNyjVkFBA/formResponse" method="post"
target="hidden_iframe" onsubmit="submitted=true;">

<span class="email-label">Your email address:</span>  <input type="text" class="quantumWizTextinputPaperinputInput exportInput" jsname="YPqjbf" autocomplete="off" tabindex="0" aria-label="Email address" aria-describedby="i.desc.1130502308 i.err.1130502308" name="entry.1315137370" value="" dir="auto" data-initial-dir="auto" data-initial-value="" />


<input type="hidden" name="pageNumber" value="0">
<input type="hidden" name="backupCache" value="">
<input type="submit" name="submit" value="Submit">


<input type="hidden" name="fvv" value="1">
<input type="hidden" name="draftResponse" value="[,,&quot;1592916995867259607&quot;]">
<input type="hidden" name="pageHistory" value="0">
<input type="hidden" name="fbzx" value="1592916995867259607">

</form>

<p>Direct any questions to <a href="mailto:{{ site.email }}">{{ site.email }}.</a></p>

    </div>
  </div>
</section>

<!-- Signup End -->
