
<!-- Index Layout Start -->

<!DOCTYPE html>
<html lang="{{ site.lang }}">

  {% include head.html %}

  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top"  data-offset="151">

    {% include navigation.html %}

	{% include header.html %}

<div id="trailer">
<div class="video-wrapper"><div class="video-container">
<iframe width="1280" height="720" src="https://www.youtube.com/embed/1FYpAUft0ns?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
</div></div>
<em>Sound samples from <a href="http://freesound.org">freesound.org</a>. <a href="{{ site.baseurl }}/attributions">Attributions here</a>.</em>
</div>

    {% for p in site.pages_list %}
      {% for page in site.pages %}
        {% if p[1] == page.section-type %}
          {% include {{ page.path }} %}
        {% endif %}
      {% endfor %}
    {% endfor %}

    {% include footer.html %}

    {% include js.html %}

  </body>
</html>

<!-- Index Layout End -->
